*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #323F5A;
}
h1 {
    font-family:'Sahitya', serif;
    color:#BAB8B4;
	text-align: center;
	font-size: 55px;
}

p{
    font-family:'Roboto Slab', serif;
    color:#BAB8B4;
	text-align: center;
	font-size: 25px;
}

.ContainerPpal{
    background-color: #323F5A;
    width: 100%;
    box-sizing: border-box;
}

header{
    background-color: #323F5A;
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }


header .Logo{
    margin-top: 1%;
}

header img{
    width: 15%;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

header .RedesSociales{
    display: flex;
	align-content: center;
    justify-content: right;
    text-align: right;
	padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

header .RedesSociales a{
    display: block;
	width: 40px;
	height: 40px;
	background: hsl(0, 4%, 63%);
	color: #fff;
	margin: 20px;
	text-align: center;
	border-radius: 100px;
	transition: .3s ease all;
}

header .RedesSociales a i {
	font-size: 15px;
	line-height: 40px;
}

#pag2,#pag3, #pag4, #pag5{			
	display: none;
}

.Content{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.Content h1{
    size: 60px;
    margin:50px;
}
.Content .start{
    margin-top: 50px;
	padding: 20px;
	text-align:center ;
	border-radius: 9px;
	border-style: solid;
	border-color: #796B07;	
}

.ContentMainPage{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding:5%;
    box-sizing: border-box;
    background-image: url(/src/Fotos/fondotarjeta.jpg);
}

.ContentMainPage .btonesInicio{
    text-align: left;
}

#Personajes, #Casas, #Varitas {
	margin: 15px;
	padding: 20px;
	text-align:center ;
	border-radius: 9px;
	border-style: solid;
	border-color: #796B07;
}

footer{
    background:#BAB8B4;
    text-align:  center;
    font-size: 18px;
    font-family:'Roboto Slab', serif;;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top:25px;
    color:#323F5A ;
  }

